{% load static tailwind_tags %} 
{%load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://firebasestorage.googleapis.com/v0/b/fir-project-31c96.appspot.com/o/docsafe-logo-icon.png?alt=media&token=cf839b09-489a-4708-a7d9-e5e80ce13935"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <style>
      ::-webkit-scrollbar {
        width: 7px;
      }

      ::-webkit-scrollbar-track {
        background: #f5f5f7;
      }

      ::-webkit-scrollbar-thumb {
        background: #727cf5;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #727cf5;
      }
    </style>

    <title>DocSafe - Your PII Warrior</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% tailwind_css %}
  </head>
  <body class="w-100 grid bg-[#f5f5f7] font-[Poppins]">
    {% include 'navbar.html' %}
    <div class="flex flex-col justify-center items-center h-[90vh] gap-16">
      <div class="grid justify-center items-center gap-4 w-[50vw]">
        <h1 class="text-5xl font-semibold text-center">
          Information Detection <br />& Masking
        </h1>
        <p class="text-center w-[40vw] text-sm text-[#6A6A6A]">
          Governemnt documents may contain sensitive and Personally Identifiable
          Information (PII), SafeDocs helps you identify these sensitive
          information and mask them, to be further secure.
        </p>
      </div>
      <div class="grid">
        <div
          class="w-[35vw] h-[30vh] flex flex-col justify-center items-center bg-[#ffffff] rounded-lg border-2 border-dashed border-[#727CF5] drop-shadow-md shadow-gray-400"
        >
          <form
            class="mb-5"
            id="file-form"
            action="{% url 'results' %}"
            enctype="multipart/form-data"
            method="POST"
          >
            {% csrf_token %} 
            {% render_field form.file id="choose-file-input" class="hidden" accept=".pdf" %}
            <button
              class="bg-[#727CF5] text-[#ffffff] flex gap-2 py-2 px-3 rounded-md"
              id="choose-files-btn"
            >
              <img
                src="https://firebasestorage.googleapis.com/v0/b/fir-project-31c96.appspot.com/o/document-icon.png?alt=media&token=2e0b2e2c-18ad-4ac2-8aec-11bf1816649f"
                alt=""
              /><span>Choose Files</span>
              <!-- <span class="my-auto ml-2"
                ><img
                  src="https://firebasestorage.googleapis.com/v0/b/fir-project-31c96.appspot.com/o/dropdown-arrow.png?alt=media&token=9bcc0cbd-9f7c-4f9a-b608-a10b6c2b5b0b"
                  alt=""
              /></span> -->
            </button>
          </form>
          <span class="mb-2 font-medium text-lg">Max upload size 10MB</span>
          <span class="flex text-sm text-[#6A6A6A] font-regular"
            >By proceeding, you agree to our&nbsp;<a href="" class="underline"
              >Terms of Use</a
            >.</span
          >
        </div>

        {% include 'processed.html' %}
      </div>
    </div>
    <div class="bg-[#ffffff] py-16">
      <h1 class="font-semibold text-center text-4xl">Tutorial</h1>
      <div class="grid px-20 mt-10 gap-10">
        <div class="flex gap-10 justify-center items-center">
          <img src="https://placehold.co/400x250" alt="" class="rounded-lg" />
          <p class="w-[40vw]">
            On the homepage, click on the " Choose files" button. Upload your
            file. Accepted formats include PDF, JPEG, PNG.
          </p>
        </div>
        <div class="flex gap-10 justify-center items-center">
          <p class="w-[40vw]">
            After uploading, the application will scan your document for any
            exposed Personally Identifiable Information (PII). The exposed data,
            such as names, addresses, or identification numbers, will be
            displayed on the screen. If you wish to copy any specific piece of
            data, simply click on the "Copy" button next to the corresponding
            data field.
          </p>
          <img src="https://placehold.co/400x250" alt="" class="rounded-lg" />
        </div>
        <div class="flex gap-10 justify-center items-center">
          <img src="https://placehold.co/400x250" alt="" class="rounded-lg" />
          <p class="w-[40vw]">
            To redact sensitive information, you need to log in. If you don’t
            have an account, register by clicking on the "Sign Up" button. Once
            logged in, return to the exposed data page. Click on the "Redact"
            button. The application will create a redacted version of your
            document, with the selected data masked.
          </p>
        </div>
        <div class="flex gap-10 justify-center items-center">
          <p class="w-[40vw]">
            After logging in, navigate to your dashboard by clicking on your
            username or "Dashboard" in the main menu. In your dashboard, you’ll
            see a list of all your redacted documents. You can download, delete,
            or re-redact these documents as needed.
          </p>
          <img src="https://placehold.co/400x250" alt="" class="rounded-lg" />
        </div>
      </div>
    </div>
    {% include 'footer.html' %}

    <script>
      const chooseFilesBtn = document.getElementById("choose-files-btn");
      const chooseFileInput = document.getElementById("choose-file-input");
      const fileForm = document.getElementById("file-form");

      chooseFilesBtn.addEventListener("click", (e) => {
        e.preventDefault();
        chooseFileInput.click();
      });
      chooseFileInput.addEventListener("change", () => {
        fileForm.submit();
      });
    </script>
  </body>
</html>
